<% provide(:title, "Contact") %>
<div class="text-center p-5 mb-4 bg-light rounded-3">
  <h1><b>Contact</b></h1>
  <h4 class="fw-normal mb-4">You can find me in:</h4>
  <h4 class="fw-normal">Gmail: <b>byverbel@gmail.com</b></h4>
  <h4 class="fw-normal">LinkedIn: <b><%= link_to "Sergio Luis López Verbel", 'https://www.linkedin.com/in/sergio-luis-lopez-verbel/', target: :_blank %></b></h4>
  <h4 class="fw-normal">Github: <b><%= link_to "byverbel", 'https://github.com/byVerbel', target: :_blank %></b></h4>
</div>
