<% provide(:title, 'Chart') %>
<div class="p-5 mb-4 bg-light rounded-3">
  <div>
    <h1>Logs chart</h1>
    <br>
    <%= line_chart [
      {name: "Burned", data: @burned},
      {name: "Gained", data: @gained}
    ] %>
  </div>
</div>
