<% provide(:title, 'Chart') %>
<div class="p-5 mb-4 bg-light rounded-3">
  <div>
    <h1 class="mb-5">Logs chart</h1>
    <!--<%= render "chart_query" %>-->
    <%= line_chart @calories %>
    <%= @calories %>
  </div>
</div>
