<% provide(:title, 'Calories logs') %>
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="d-flex flex-row">
    <div>
      <h1>Calories logs</h1>
      <ul class="calories">
        <%= render @calories %>
      </ul>
    </div>
  </div>
</div>
