<% provide(:title, 'New calorie register') %>
<% provide(:button_text, 'Create calorie register') %>
<div class="py-5 px-3 mb-4 bg-light rounded-3">
  <div class="row justify-content-center text-center">
    <div class="col-lg-6">
      <h1 class="mb-4">Calorie register</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
