/* constants */
$gray-medium-light: #d6d5d5;
$gray-light: #eaeaea;
$gray-darker: #474747;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin link {
  color: gray;
  text-decoration: none;
  &:hover {
    color: $gray-darker;
    text-decoration: none;
  }
}

/* universal */
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.link--normal {
  font-size: 1.3em;
  @include link();
}
.link--scaffold {
  font-size: 1.2em;
  @include link();
  text-decoration: underline;
}

.link--footer {
  font-size: 1em;
  @include link();
}

.checkbox {
  margin-top: 10px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.calories {
  list-style: none;
  margin: 0;
  font-size: larger;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium-light;
  }
}

.search {
  max-width: 600px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* debug-box */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  background-color: $gray-light;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: thin;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: auto;
}
.gravatar_edit {
  margin: auto;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    font-size: 1em;
  }
  small {
    float: left;
    color: gray;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
