<% provide(:title, "Confirmation instructions") %>
<div class="text-center p-5 mb-4 bg-light rounded-3">
  <h3><b>Welcome <%= @email %>!</b></h3>
  <h5 class="fw-normal mb-4">You can confirm your account email through the link below:</h5>
  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
