<div class="container-fluid">
  <footer class="footer">
    <small>
      <p class="link--footer">Fecha: <%= col_date %>. Hora: <%= col_time %></p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Contact", contact_path, class:"link--footer" %></li>
      </ul>
    </nav>
  </footer>
</div>
